header 
  ul 
    li: a(href="/") Home
    li: a(href="/users/list") List of users
    li: a(href="/users/login") Login
    li: a(href="/users/register") Register
    li: a(href="/users/logout") Logout
